ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

a {
	 display: block;
    width: 60px;
}

li {
	float:right;
 
	
}

img {
	position:relative;
	left:35%;
	
 
	
	
}
.container {
	padding-top:10%;
}
 

.search {
	Margin:auto;
	position:relative;
	left:35%;
	border-color:blue;
	width:30%;
	height:35px;
	border-width:1px;
	

}

.submit1 {
	width:125px;
	height:30px;
    position:relative;
    left: 43%;
   	top:15px;
   	border:none;
   	background-color:lightgray;
  		
}
 