ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

a {
	 display: block;
    width: 60px;
}

li {
	float:right;
	display:inline-block;
	
}

img {
	float:none;
	margin-left:auto;
	margin-right:auto;
	padding-left:250px;
	padding-right:100px;
	
	
}

input {
	float:inherit;
	vertical-align:middle;
	border-color:blue;
	width:600px;
	height:30px;
	position:relative;
	left: 230px;
	

}

.submit1 {
    positiion:relative;
    border:none;
    align:middle;
  	left: 300px;
  	width:96px;
  	height:29px;
  	top:15px;
  		
}